.App {
  text-align: center;
}

.homepage_login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 10px;
}

.homepage_login_container > button {
  width: 340px;
}

.signup_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.signup_input_container{
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 10px;
}

.signup_container > button {
  width: 340px;
}

.forgotPassword_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.forgotPassword_input_container {
  width: 420px;
}